<div class="container">
  <div class="row">
    <div class="col-sm loading" *ngIf="loading">
      <i class="fa fa-spinner fa-spin"></i>
    </div>

    <div class="col-sm" *ngIf="!loading">
      <form (ngSubmit)="ff.form.valid && submit(ff)" #ff="ngForm">
        <div *ngFor="let questionObj of questions; index as i">
          <p class="question" [innerHTML]="questionObj.question | keepHtml"></p>
          <div *ngFor="let choice of questionObj.choices; index as j">
            <div class="form-group col-md-9">
              <input
                id="{{ i }}.{{ j }}"
                name="{{ questionObj.question }}"
                value="{{ choice }}"
                type="radio"
                [(ngModel)]="answers[i]"
                required
                [disabled]="submitted"
              />
              <label for="{{ i }}.{{ j }}" [innerHTML]="choice | keepHtml">
              </label>
            </div>
          </div>
        </div>
        <input
          class="btn btn-primary"
          style="float: right;"
          type="submit"
          value="Submit"
          disabled="true"
          [disabled]="!ff.valid"
        />
      </form>

      <div class="game-result" *ngIf="submitted === true">
        <h2 class="display-5">Score {{ score }}/{{ answers.length }}</h2>
        <form [formGroup]="form" (ngSubmit)="submitUsername()">
          <label>
            Save score? Username:
            <input type="text" formControlName="name" />
          </label>
          <button
            type="submit"
            class="btn btn-secondary"
            [disabled]="!form.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
